<div id="container" class="users_show">
  <script>
    $("#container").prepend($("#header"))
  </script>

  <h1><%= @user.username %>'s Favorites</h1>

  <ul>
    <% @favorite_pages.each do |page| %>
      <li><%= link_to page.title, page_url(page.url_fragment)%><li>
    <% end %>
  </ul>
</div>