<h3>Log In</h3>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label>E-Mail
    <input type="text" name="user[email]">
  </label>
  <br><br>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <br><br>
  <input type="submit" value="Submit">
</form>