<h1> Create an Account </h1>
<form action="<%= users_url %>" method="post">
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

  <label for="user_name">Username</label>
  <input type="text" name="user[user_name]" id="user_name">
  <br><br>

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <br><br>

  <input type="submit" value="Create an Account">
</form>