<h1>Enter your new password</h1>

<form action="<%= reset_password_url(params[:reset_token]) %>" method="POST">

  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token%>">

  <input type="text" name="user[password]" placeholder="password">

  <input type="hidden" name="_method" value="PUT">
  <input type="submit" value="Reset">
</form>