<div>
  <h3>Upload a File</h3>(Less than 5mb)
  <br><br>
  <form id="upload_file" enctype="multipart/form-data">

    <label>Optional Title
      <input type="text" name="binary[title]">
    </label>
    <br><br>
    <input type="file" name="binary[file]">
    <br><br>
    <input type="submit">
  </form>
</div>