<div>
  <div class="help">
    <h1>Welcome!</h1>
  </div>

  <p>Jots can either be public or private.
    <br>If public, a password can be set on the page for lightweight sharing.
    <br>If private, a jot is only visible if it has been shared through the site.
    <!-- <br>Versions autosave every 5 seconds. -->
  </p>

  <div class="help">
    <img src="/assets/full_star.png">
    <span>Favorite a jot (if logged-in)</span>
  </div>

  <div class="help">
    <img src="/assets/code.png">
     <span>Change syntax highlighting</span>
  </div>

  <div class="help">
    <img src="/assets/hourglass1.png">
    <span>All jots are versioned</span>
  </div>

  <div class="help">
    <img src="/assets/file1.png">
    <span>Attached files (only logged-in users can upload)</span>
  </div>

  <!-- <div class="help">
    <img src="/assets/lock1.png">
    <span>If a public jot, change privacy options</span>
  </div> -->

  <div class="help">
    <img src="/assets/sharing.png">
    <span>Share a private jot (if logged-in)</span>
  </div>

  <div class="help">
    <img src="/assets/comments1.png">
    <span>Comments!</span>
  </div>
</div>