<h1>New Rental Request</h1>

<form action="/cats/<%= @cat.id %>/cat_rental_requests" method="post">
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

  <input type="hidden" name="cat_rental_request[cat_id]" value="<%= @cat.id %>">

  <label for="start_date">Start Date:</label>
  <input type="date" name="cat_rental_request[start_date]">
  <br><br>

  <label for="end_date">End Date:</label>
  <input type="date" name="cat_rental_request[end_date]">
  <br><br>

  <input type="submit" value="Submit Request">

</form>

