<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Here's your password reset, <%= @user.username %>!</h1>
    <p>
      Click <%= link_to "here", password_reset_url(@token)%> to change your password!
    </p>
    <p>Have a great day!</p>
  </body>
</html>